@charset "utf-8";
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > p{
    padding-bottom: 50px;
}

h1{
    font-size: 8vw;
    padding-top: 50px;
    font-variant: small-caps;
}

body{
    font-size: 3.5vw;
    font-family: var(--fonte1);
}

main{
    padding: 20px;
    line-height: 2em;
    font-family: var(--fonte2);
}

main p{
    padding-block-start: 1em;
    padding-block-end: 1em;
}

footer{
    padding-block-start: 0.6em;
    padding-block-end: 0.6em;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1vw;
}

.link{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.link:hover{
    text-decoration: underline;
}