@charset "utf-8";
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-family: 'Sriracha', cursive;
}

body p{
    font-family: var(--fonte2);
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
